body

{
    color :white; 
    font-family: Hack, monospace;
    background: rgb(12,7,107);
    background: linear-gradient(90deg, rgba(12,7,107,1) 0%, rgba(181,120,227,1) 48%, rgba(62,75,78,1) 100%); 
}
H1 {
    text-align: center
}
div{

    margin: auto
}


.btn-grad {background-image: linear-gradient(to right, #fc00ff 0%, #00dbde  51%, #fc00ff  100%)}
.btn-grad {
    margin: 10px;
    padding: 15px 45px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;            
    box-shadow: 0 0 20px #eee;
    border-radius: 10px;
    display: block;
}

.btn-grad:hover {
    background-position: right center; /* change the direction of the change here */
    color: #fff;
    text-decoration: none;
}
.content {
	box-sizing: border-box;
	min-height: 100%;
	padding-bottom: 90px;
}
.footer {
    /* text-align: center; */
    width:95%;
    height: 80px;
    margin-top: -80px;
    position:fixed;
    top: 90%
}
.me{
    border-radius: 50%;
    width: 25%; 
    /*min-height:60px;*/
    
}

