@media (min-width: 576px) {
		body {
            color : white;
            background: url(https://im0-tub-ru.yandex.net/i?id=82d1261a3ad14d4fbc6674187bb5aacc-l&ref=rim&n=13&w=640&h=640);
		}

         .btn-grad {background-image: linear-gradient(to right, #485563 0%, #29323c  51%, #485563  100%)}
         
	}


/* [> Средние девайсы («таблетки», >= 768px) <] */
/* @media (min-width: 768px) { */
/*     body { */
/*         background: url( https://pbs.twimg.com/profile_images/1140217390271066113/cM2sBWTb.jpg  ); */
/*         color : white; */
/*     } */
/*  */
/* } */
 
/* Большие девайсы (десктопы, >= 992px) */
@media (min-width: 768px) {
    body {
        background: url( https://catherineasquithgallery.com/uploads/posts/2021-02/1614390868_74-p-temnii-fon-na-noutbuke-87.jpg );
        color : white;
    }

    .btn-grad {background-image: linear-gradient(to right, #000000 0%, #434343  51%, #000000  100%)}


}
 
/* Экстрабольшие девайсы (большие десктопы, >= 1200px) */
@media (min-width: 1200px) {
    body {
        background: url( https://catherineasquithgallery.com/uploads/posts/2021-02/1612932520_93-p-krasnii-fon-noutbuk-120.jpg );
        color : #ffc6d4;    
        
    
    }


         .btn-grad {background-image: linear-gradient(to right, #DD5E89 0%, #F7BB97  51%, #DD5E89  100%)}
         
}
 
/* общие стили для всех девайсов */

.btn-grad {
    margin: 10px;
    padding: 15px 45px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;            
    box-shadow: 0 0 20px #eee;
    border-radius: 10px;
    display: block;
}

.btn-grad:hover {
    background-position: right center; /* change the direction of the change here */
    color: #fff;
    text-decoration: none;
}


body {
    background-color: #555;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    font-family: Hack, monospace;
}

H1 {
    text-align: center
}
div{

    margin: auto
}




.content {
	box-sizing: border-box;
	min-height: 100%;
	padding-bottom: 90px;
}
.footer {
    /* text-align: center; */
    width:95%;
    height: 80px;
    margin-top: -80px;
    position:fixed;
    top: 90%
}
.me{
    border-radius: 50%;
    width: 25%; 
    /*min-height:60px;*/
    
}

